.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 5s ease-in-out;
  transform: scale(1);
}

.background-image.active {
  opacity: 1;
}

/* Zoom in effect: start at scale 1, zoom to 1.2 */
.background-image.zoom-in {
  transform: scale(1);
}

.background-image.zoom-in.active {
  transform: scale(1.2);
}

/* Zoom out effect: start at scale 1.2, zoom to 1 */
.background-image.zoom-out {
  transform: scale(1.2);
}

.background-image.zoom-out.active {
  transform: scale(1);
}
